/*chamando class*/
.Titulo{
        font-size: 50px;
        text-align: center;
        color: green;
}

/*chamando id*/
#titulo2 {
    color: rgba(100, 100, 100,0.5);
    
} 

h1 {
    color: blueviolet;
    text-align: center;
}

